---
import type { ElementType, PageType } from "@wordlike/nebula/package/schema";
import AstroElement from "../components/AstroElement.astro";
import Layout from "../layouts/Layout.astro";
import { createClient } from "@supabase/supabase-js";

const supabaseClient = createClient(
  import.meta.env.PUBLIC_SUPABASE_URL,
  import.meta.env.PUBLIC_SUPABASE_ANON_KEY
);

const { params, url, redirect } = Astro;
const { slug } = params;

const siteId = import.meta.env.DEV
  ? Object.fromEntries(url.searchParams).siteId // get id via query params (locally)
  : url.hostname.split(".")[0]; // get id via subdomain:

const { data, error } = await supabaseClient
  .from("sites")
  .select()
  .eq("id", siteId)
  .single();

const { pages } = data.doc;

const page = pages.find((page: PageType) => page.isHome || page.slug === slug);
if (!page) return redirect("/404");
---

<Layout title="Welcome to Astro.">
  <main>
    {
      page.children.map((elementData: ElementType) => (
        <AstroElement {elementData} />
      ))
    }
  </main>
</Layout>
