---
import type { ElementType, PageType } from "@wordlike/nebula/package/schema";
import AstroElement from "../components/AstroElement.astro";
import Layout from "../layouts/Layout.astro";
import { supabaseClient } from "../supabase";

const { params, url, redirect } = Astro;
const { slug } = params;
let siteId;
if (import.meta.env.DEV) {
  // get id via query params (locally)
  ({ siteId } = Object.fromEntries(url.searchParams));
} else {
  // get id via subdomain:
  [siteId] = url.hostname.split(".");
}
// Query DB directly:
// https://astro-supabase-vercel.vercel.app/

const { data, error } = await supabaseClient
  .from("sites")
  .select()
  .single()
  .eq("id", siteId);

const { pages } = data.doc;

const page = pages?.find((page: PageType) => page.isHome || page.slug === slug);
if (!page) return redirect("/404");
---

<Layout title="Welcome to Astro.">
  <main>
    {
      page.children.map((elementData: ElementType) => (
        <AstroElement {elementData} />
      ))
    }
  </main>
</Layout>
