---
import type { ElementType, PageType } from "@wordlike/nebula/package/schema";
import AstroElement from "../components/AstroElement.astro";
import Layout from "../layouts/Layout.astro";
import mockData from "../mockData.json";

const { params, url, redirect } = Astro;
const { slug } = params;
// try to get id via query params
let { siteId } = Object.fromEntries(url.searchParams);
if (!siteId) {
  // try to get id via subdomain:
  [siteId] = url.hostname.split(".");
}

const response = await fetch(
  `https://wordlike-builder.vercel.app/public/${siteId}`
);
const { pages } = await response.json();
// const { pages } = mockData;
const page = pages.find((page: PageType) => page.isHome || page.slug === slug);
if (!page) return redirect("/404");
---

<Layout title="Welcome to Astro.">
  <main>
    {
      page.children.map((elementData: ElementType) => (
        <AstroElement {elementData} />
      ))
    }
  </main>
</Layout>
