---
import "@wordlike/nebula/style/plane.css";
import { Text, getGridVars } from "@wordlike/nebula";
import type { ElementType } from "@wordlike/nebula/package/schema";

const { elementData } = Astro.props;
const { children, type } = elementData ?? {};
const { gridCssVars, elementCssVars } =
    type === "GRID" && getGridVars(elementData);
---

{
    type === "GRID" && (
        <div class="plane" style={gridCssVars}>
            {children.map((child: ElementType, i: number) => (
                <div class="element" style={elementCssVars[i]}>
                    <Astro.self elementData={child} />
                </div>
            ))}
        </div>
    )
}

{type === "TEXT" && <Text {elementData} client:load />}
