---
import { getGridVars } from "@wordlike/nebula";
import AstroElement from "../components/AstroElement.astro";

const { elementData } = Astro.props;
const { children } = elementData ?? {};
const { gridCssVars, elementCssVars } = getGridVars(elementData);
---

<div class="grid" style={gridCssVars}>
    {
        children.map((child, i) => (
            <div class="element" style={elementCssVars[i]}>
                <AstroElement elementData={child} />
            </div>
        ))
    }
</div>

<style lang="scss">
    @import "@wordlike/nebula/package/style/grid.css";
</style>
